@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Instagram.Classes.AccountImagesModel

<div class="emptyDiv">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-photo">
                @{
                    var base64 = Convert.ToBase64String(Model.Account.avatar);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="row"><h2>@Model.Account.fullname</h2></div>
            <div class="row">
                <div class="col-sm-2"><h4>@Model.countOfImages публикаций</h4></div>
                <div class="col-sm-3"><h4> 234 подписчиков</h4></div>
                <div class="col-sm-7"><a href="@Url.Action("AddPhoto", "Home", new { user_id = Model.Account.id })" class="btn btn-info" role="button">Add photo</a></div>
            </div>
            <div class="row"><h5><b>@Model.Account.username</b></h5></div>
        </div>
    </div>
</div>




